doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Get Stock Quotes
    link(rel='stylesheet', href='/style.css')
  body
    .section
      h2 Get Company Quotes
      .row
        input#text(type='text', required='', placeholder='enter a company symbol')
        
        button#getquotes(type='button') Get Quotes
        //- button#delete(type='button') Delete 
    
    .container
      .showData
         
        
    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/main.js')
